In [1]:
a=int(input('enter first number'))
b=int(input('ennter the second number'))
print('addition:',a+b)
print('subraction:',a-b)
print('multiplication:',a*b)
print('division:',a/b)
print('modulus:',a%b)
print('exponentiation:',a**b)
print('floor division:',a//b)

enter first number10
ennter the second number3
addition: 13
subraction: 7
multiplication: 30
division: 3.3333333333333335
modulus: 1
exponentiation: 1000
floor division: 3

In [2]:
a=int(input("enter first number"))
b=int(input("enter second number"))
if a>b:# greater opertor
 print("a is greater than b")
elif a==b:# assigment opertor
 print("a and b are equal")
elif a<=b:# lesser opertor with assigment opertor
 print("a is lesser than b")
else:
 print("do nothing")

enter first number10
enter second number3
a is greater than b

In [3]:
a=True
b=False
c=True
print(a and b)#logical opertor and(*)
print(b and a)
print(a and c)
print(a or b)#logical opertor or(+)
print(b or a)
print(a or c)
print(not a)#logical opertor not(not)
print(not b)
print(not c)

False
False
True
True
True
True
False
True
False

In [4]:
A=(input("enter the string"))
print(len(A))#length of string
print(A[0],A[-1])#first and last character
print(A[::-1])#reverse order
print(A.upper())#uppercase
print(A.lower())#lowercase

enter the stringshashini
8
s i
inihsahs
SHASHINI
shashini

In [5]:
name=input("enter the name")
age=int(input("enter the age:"))
print("Hello",name,"your are",age,"years old")

enter the nameshashini
enter the age:19
Hello shashini your are 19 years old

In [6]:
m=str(input("sentence:"))
n=str(input("enter a word:"))
print(m.index(n))

sentence:uttam kumawath
enter a word:uttam
0

In [7]:
a=int(input("enter the number1:"))
b=int(input("enter the number2:"))
c=int(input("enter the number3:"))
d=int(input("enter the number4:"))
e=int(input("enter the number5:"))
f=(a,b,c,d)
print([f])
print(sum(f))
print(max(f))
print(min(f))

enter the number1:1
enter the number2:2
enter the number3:3
enter the number4:4
enter the number5:5
[(1, 2, 3, 4)]
10
4
1

In [10]:
fruits=["apple","banana","dargon fruit","mango","custard apple"]
print(fruits)
fruits.append("pineapple")
print(fruits)
fruits.remove("banana")
print(fruits)

['apple', 'banana', 'dargon fruit', 'mango', 'custard apple']
['apple', 'banana', 'dargon fruit', 'mango', 'custard apple', 'pineapple']
['apple', 'dargon fruit', 'mango', 'custard apple', 'pineapple']

In [11]:
A = int(input("Enter the number 1: "))
B = int(input("Enter the number 2: "))
C = int(input("Enter the number 3: "))
D = int(input("Enter the number 4: "))
E = int(input("Enter the number 5: "))
f = [A, B, C, D, E]
f.sort()#sort the list in ascending order
print("Ascending Order of the list: ", f)
f.sort(reverse=True)#sort the list in descending order
print("Descending Order of the list: ", f)

Enter the number 1: 1
Enter the number 2: 2
Enter the number 3: 3
Enter the number 4: 4
Enter the number 5: 5
Ascending Order of the list:  [1, 2, 3, 4, 5]
Descending Order of the list:  [5, 4, 3, 2, 1]

In [12]:
Number=[1,2,3,4,5,6,7,8,9,10]
print(Number[:5])
print(Number[-5:])
print(Number[1:7])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[2, 3, 4, 5, 6, 7]

In [13]:
students = []
for _ in range(3):
 name = input("Enter student name:")
 scores = [float(input(f"Enter score {i+1}: ")) for i in
range(3)]
 students.append([name, scores])
for student in students:
 avg = sum(student[1]) / 3
 print(student[0], "'s average score:'",avg)

Enter student name:shashini
Enter score 1: 88
Enter score 2: 76
Enter score 3: 93
Enter student name:samira
Enter score 1: 77
Enter score 2: 84
Enter score 3: 90
Enter student name:risha
Enter score 1: 99
Enter score 2: 98
Enter score 3: 97
shashini 's average score:' 85.66666666666667
samira 's average score:' 83.66666666666667
risha 's average score:' 98.0